html, body{
    margin: 0;
    padding: 0;
}

#gallery{
    width: 860px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
#gallery .photos, #gallery .photos2{
    position: relative;
    height: 485px;
}

.photos2{overflow: hidden;}

#gallery .photos img, #gallery .photos2 img{
    width: 0;
    left:0;
    position: absolute;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -ms-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;

}


#gallery .photos img.showed, #gallery .photos2 img.showed{
    width: 100%;
}

.prev, .prev2{
    left: 5%;
}
.next, .next2{
    right: 5%;
}

.next, .prev, .next2, .prev2{
    opacity: 1;
    transition: 3s;
    font-size: 40px;
    color: #fff;
    background: transparent;
    border: 0;
    position: absolute;
    top: 42%;
    cursor: pointer;
}
.show{
    opacity: 1;
    transition: 2s;
}

